<!-- Contenu principal -->
<div class="container">
        

    <div class="row my-4">

        <div class="col-12 text-center d-block d-sm-block d-md-none">
            <img src="images/inscription_cloud.png" alt="Logo" height="130px" width="225px">
        </div>
        <div class="col-12 mb-4 text-center">
            <h1>Se connecter</h1>
        </div>
        <div class="col-md-4 offset-md-4">
            <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="form">
                <div class="mb-3 me-2 ms-2 col-sm-12">
                    <label for="nomUtilisateur" >E-mail ou nom d'utilisateur</label>
                    <input type="text" class="form-control" id="nomUtilisateur" formControlName="email">
                </div>
                <div class="mb-3  me-2 ms-2 col-sm-12">
                    <label for="motDePasse">Mot de Passe</label>
                    <input type="password" class="form-control" id="motDePasse" formControlName="password">
                </div>
                <div class="text-center mt-3 ">
                    <button type="submit" class="btn btn-purple">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</div>