<!-- Contenu principal -->
<div class="container">
        
    <!-- Flèche en dessous de la navbar -->
    <div class="row mt-4 mb-3">
        <div class="col-1 mt-2 "><i class="fa-solid fa-arrow-left fa-2xl"></i></div>
        <div class="col-auto"><h1>{{article?.title}}</h1></div>
    </div>

    <div class="row">
        <div class="col-8 offset-1 mb-3 ">
            <span class="me-5">{{article?.createdAt | date: 'dd/MM/yyyy'}}</span>
            <span class="me-5">Auteur : {{article?.userName}}</span>
            <span class="">Thème : {{article?.theme}}</span>
        </div>
        <div class="col-12 offset-1">
            <p>{{article?.content}}</p>
            <hr>
        </div>
        <div class="col-10 offset-1">
            <p>Commentaires</p>
            <ng-container *ngFor="let commentary of article?.commentaries" >
                <div class="row mt-4 mb-3 ms-5">
                    <div class="col-2 mx-0">{{commentary?.userName}}</div>
                    <div class="col-9 comment-area mx-0">
                        <p  class="mt-2 mx-0">{{commentary?.content}}</p></div>
                </div>
            </ng-container>
           
        </div>


        
        <div class="col-10 offset-1">
            <form [formGroup]="commentaryForm" (ngSubmit)="sendCommentary()">
                <div class="row mt-4 mb-3 ms-5">
                    <div class="col-11 mx-0">
                        <textarea class="form-control mx-0" 
                        rows="4" placeholder="Écrivez ici votre commentaire" 
                        formControlName="content">
                    </textarea>
                    </div>
                    <div class="col mt-4">
                        <button type="submit">
                            <img src="assets/🦆 icon _send_.png" alt="">
                        </button>
                        
                    </div>
                </div>
            </form>
            
        </div>

        
    </div>
</div>