<!-- Contenu principal -->
<div class="container">
        
    <!-- Flèche en dessous de la navbar -->
    <div class="row mt-4 mb-3">
        <div class="col-1 mt-2 "><i class="fa-solid fa-arrow-left fa-2xl"></i></div>
        <div class="col-auto"><h1>Titre de l'article sélectionné</h1></div>
    </div>

    <div class="row">
        <div class="col-8 offset-1 mb-3 ">
            <span class="me-5">Date</span>
            <span class="me-5">Auteur</span>
            <span class="">Thème</span>
        </div>
        <div class="col-12 offset-1">
            <p>
                Content: lorem ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                 took a galley of type and scrambled it to make a type specimen book.
            </p>
            <hr>
        </div>
        <div class="col-10 offset-1">
            <p>Commentaires</p>
            <div class="row mt-4 mb-3 ms-5">
                <div class="col-2 mx-0">Username</div>
                <div class="col-9 comment-area mx-0"><p  class="mt-2 mx-0">Contenu du commentaire</p></div>
            </div>
        </div>


        
        <div class="col-10 offset-1">
            <div class="row mt-4 mb-3 ms-5">
                <div class="col-11 mx-0">
                    <textarea class="form-control mx-0" rows="4" placeholder="Écrivez ici votre commentaire"></textarea>
                </div>
                <div class="col mt-4">
                    <img src="assets/🦆 icon _send_.png" alt="">
                </div>
            </div>
        </div>

        
    </div>
</div>