   <!-- Contenu principal -->
    <div class="container my-5">

        <div class="row">

            <div class="col-md-6 col-sm-12 text-md-start text-center">
                <a routerLink="/articles/create" type="submit" class="btn btn-purple">Créer un article</a>
            </div>

            <div class="col-md-6 col-sm-12 text-md-end text-center">
                <p (click)="toggleIconClick()"> 
                    <b><span class="mr-3">Trier par</span> 
                    <i [ngClass]="{'fa-arrow-down': newersFirst, 'fa-arrow-up': !newersFirst}" class="fa" aria-hidden="true"></i></b>  
                </p>
            </div>

        </div>

        <div class="d-flex justify-content-between mb-3">
    
        </div>

            <div class="row">
                <ng-container *ngFor="let article of (articles$ | async)?.articles" >
                    <div class="col-md-6 mb-3">
                        <div class="card card-grey" (click)="navigateToDetail(article.id)">
                            <div class="card-body">
                                <h3>{{article.title}}</h3>
                                <div class="">
                                    <div class="row">
                                        <!-- Text to the left -->
                                        <div class="col-5">
                                            <p>{{article.createdAt | date: 'dd/MM/yyyy' }}</p>
                                        </div>
                                        
                                        <!-- Text in the center (use offset to center it) -->
                                        <div class="col-7">
                                            <p>{{article.userName}}</p>
                                        </div>
                                        <div>
                                            <p>{{article.content}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                </ng-container>

            </div>

    
    </div>