.card-grey {
    background: #F5F5F5;
    min-height: 180px;
    border: none;
    }

    .link-size{

        font-size: 30px;

    }
    .link-purple {
        color: #6C5CCF;

    }

    .link-black {
        color: black;
    }

    .btn-purple {
        background-color: #7763C5;
        color: white;
    }

    .offcanvas-body .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .navbar {
        border-bottom: 1px solid #000;
        height: 10vh;
    }

    .logo {
        max-height: 100%;
    }