<!-- Contenu principal -->
<div>
    <form  [formGroup]="userForm" (ngSubmit)="submit()" *ngIf="userForm">
        <div class="d-flex flex-column align-items-center mt-3">
            <div class="col-md-6 mb-3 px-4 col-12 text-center"><h1>Profil utilisateur</h1></div>
    
            
            <div class="col-md-6 mb-3 px-4 col-12">
                <input class="form-control" type="text" placeholder="Username"   formControlName="userName">
            </div>
            <div class="col-md-6 mb-3 px-4 col-12">
                   <input class="form-control" type="email" placeholder="email@email.com" formControlName="email">
            </div>
    
            <div class="col-md-3 col-6">
                <button type="submit" class="btn btn-purple btn-full-width">Sauvegarder</button>
            </div>
            <p class="text-danger" (click)="logout()">se déconnecter</p>
            <div class="col-md-11"><hr></div>
            <div class="col-md-6 mb-3 px-4 col-12 text-center"><h2>Abonnements</h2></div>
        </div>    
    </form>
    

    <div class="row  px-3">

        <ng-container *ngFor="let theme of user?.themes">
            <div class="col-md-6 mb-3">
                <div class="card card-grey">
                    <div class="card-body">
                        <h3>{{theme.title}}</h3>
                        <div class="">
                            <div class="row">
    
                                <div>
                                    <p>
                                        {{theme.description}}                                    
                                    </p>
                                    <div class="text-center">
                                        <button class="btn btn-purple" (click)="unsubscribeTheme(theme.id)">Se désabonner</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </ng-container>
    </div>


</div>