<!-- Contenu principal -->
<div>

    <div class="d-flex flex-column align-items-center mt-3">
        <div class="col-md-6 mb-3 px-4 col-12 text-center"><h1>Profil utilisateur</h1></div>
        <div class="col-md-6 mb-3 px-4 col-12"><input class="form-control" type="text" placeholder="Username"></div>
        <div class="col-md-6 mb-3 px-4 col-12"><input class="form-control" type="email" placeholder="email@email.fr"></div>
        <div class="col-md-3 col-6"><button type="submit" class="btn btn-purple btn-full-width">Sauvegarder</button></div>
        <p class="text-danger">se déconnecter</p>
        <div class="col-md-11"><hr></div>
        <div class="col-md-6 mb-3 px-4 col-12 text-center"><h2>Abonnements</h2></div>
    </div>

    <div class="row  px-3">
        <div class="col-md-6 mb-3">
            <div class="card card-grey">
                <div class="card-body">
                    <h3>Titre du thème</h3>
                    <div class="">
                        <div class="row">

                            <div>
                                <p>
                                    Description: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard...
                                </p>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-purple">Se désabonner</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
      
        <div class="col-md-6 mb-3">
            <div class="card card-grey">
                <div class="card-body">
                    <h3>Titre du thème</h3>
                    <div class="">
                        <div class="row">

                            <div>
                                <p>
                                    Description: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard...
                                </p>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-purple">Se désabonner</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>


</div>