<!-- Contenu principal -->
<div>
        
    <!-- Flèche en dessous de la navbar -->
    <div class="row mt-4 mb-3">
        <div class="col-md-3 mt-2 ps-5 col-12 mb-2">
            <a class="link-black" routerLink="/"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
            
        </div>
        <div class="col-md-6 mb-3 px-4 col-12"><h1>Créer un nouvel article</h1></div>
    </div>
    <form [formGroup]="articleForm" (ngSubmit)="submit()" *ngIf="articleForm">

        <div class="d-flex flex-column align-items-center">
            <div class="col-md-6 mb-3 px-4 col-12">
                <select class="form-control" formControlName="theme">
                    <option value="" disabled>Choisir un thème</option>
                    <option  [value]="theme.title" *ngFor="let theme of (themes$ | async)?.themes">{{ theme.title }}</option>
                </select>
            </div>
            <div class="col-md-6 mb-3 px-4 col-12">
                <input class="form-control" type="text" placeholder="Titre de l'article" formControlName="title">
            </div>
            <div class="col-md-6 mb-3 px-4 col-12">
                <textarea class="form-control" placeholder="Contenu de l'article" rows="10" formControlName="content">
                </textarea>
            </div>
            <div class="col-md-3 col-6">
                <button type="submit" class="btn btn-purple btn-full-width">Créer</button>
            </div>
        </div>
    </form>


</div>
